.basket {
  background-color: #161516;
  color: #ffffff;
  font-family: 'Montserrat';
}

.basket-wrapper {
  width: 860px;
  margin: 0 auto;
}

.basket-cards {
  height: calc(100vh - 224px);
  overflow-y: auto;
}

.basket-cards::-webkit-scrollbar {
  width: 0px;
}
