* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(140deg, #6f8cf5 0%, #2435f4 100%);
  color: white;
  font-family: 'Gemunu Libre', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.5rem;
  color: gold;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  border-radius: 5px;
  background: white;
  color: #0000ff;
  cursor: pointer;
  font-family: 'Gemunu Libre', sans-serif;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  outline: none;
}

form input::placeholder {
  color: rgba(0, 0, 255, 0.5);
  font-size: 1.8rem;
  font-weight: 300;
  font-family: 'Gemunu Libre', sans-serif;
}

form button {
  color: #0bd826;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #47ff47;
  background: transparent;
  scale: 1.4;
  transform: rotate(90deg);
  transition: all 1s all;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  max-width: 1200px;
  height: auto;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  border-radius: 5px;
  color: rgb(153, 0, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo li {
  flex: 1 0 0;
}

.trash-btn,
.complete-btn {
  background: #ba4a0e;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.trash-btn:hover {
  background: #d45b1a;
}
.complete-btn {
  background: rgb(11, 212, 162);
  transition: 0.3s ease all;
}
.complete-btn:hover {
  background: rgb(15, 134, 105);
  transition: 0.3s ease all;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
