.btn {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50px;
  border-color: white;
  color: #d58c51;
  font-size: 24px;
  cursor: pointer;
}

.btn:active {
    scale: 0.95;
}
.btn:hover {
  background-color: #d58c51;
  border: 1px solid #d58c51;
  color: white;
  transition: 0.5s ease-in-out ;
}
