
/*-----Блоки------------------------------------------------------------------*/
.header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;

  &__container {
    display: flex;
    align-items: center;
    min-height: 99px;
    position: relative;

    @media screen and (max-width: 1115px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 992px) {
      min-height: 77px;
    }
  }

  &__logo {
    margin-right: 45px;

    @media screen and (max-width: 1115px) {
      margin-right: 15px;
    }

    @media screen and (max-width: 992px) {
      position: absolute;
      bottom: 5px;
      left: 170px;
    }
  }
}

.header__menu {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin: 0 20px 0 0;
    @media screen and (max-width: 1115px) {
      margin: 0 10px 0 0;
    }
  }

  &__link {
    color: #000000;
    line-height: 19px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto";
    text-decoration: none;

    &:hover {
      color: #ef7f04;
      position: relative;

      &::after {
        content: ("");
        width: 100%;
        height: 4px;
        background: #ef7f04;
        position: absolute;
        left: 0;
        top: -37px;
        transition: 0.3s;
      }
    }
  }
}
/*------КНОПКИ---HEADER----------------------------------------------------*/
.buttons {
  position: absolute;
  right: 15px;

  @media screen and (max-width: 1115px) {
    position: inherit;
    flex-wrap: wrap;
    right: 0;
  }
}
.buttons__item {
  padding: 11px 15px;
  background: #3b3a63;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;

  @media screen and (max-width: 1115px) {
    padding: 7px 10px;
    font-size: 12px;
  }

  @media screen and (max-width: 992px) {
    padding: 13px 20px;
    font-size: 13px;
  }

  &:nth-last-child(2) {
    margin-right: 14px;
    background: #ef7f04;

    @media screen and (max-width: 1115px) {
      margin-right: 7px;
    }
  }

  & > img {
    margin-right: 13px;
  }

  &:hover {
    background-color: #db9244;
    transition: 0.3s ease-in-out;

    &:last-child {
      background-color: #6563c4;
    }
  }
}

/*----BugerMenu---------------------------------------*/
.header__burger {
  display: none;

  @media screen and (max-width: 992px) {
    display: block;
    cursor: pointer;
    position: relative;
    content: "";
    width: 56px;
    height: 7px;
    background: #ef7f04;
    left: 55px;
    top: -11px;
    border-radius: 2px;

    &::after {
      position: absolute;
      content: "";
      width: 56px;
      height: 7px;
      background: #ef7f04;
      top: 12px;
      left: 0px;
      border-radius: 2px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 56px;
      height: 7px;
      background: #ef7f04;
      top: 24px;
      left: 0px;
      border-radius: 2px;
    }
  }
}
